## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
import math
%matplotlib inline

In [3]:
df = pd.read_csv('./data/kc_house_data.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

In [11]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

In [12]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,lat,long
count,3.015500e+04,3.015500e+04,30155.000000,30155.000000,30155.000000,3.015500e+04,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000
mean,4.538104e+09,1.108536e+06,3.413530,2.334737,2112.424739,1.672360e+04,1.543492,1809.826098,476.039396,330.211142,217.412038,1975.163953,90.922301,47.328076,-121.317397
std,2.882587e+09,8.963857e+05,0.981612,0.889556,974.044318,6.038260e+04,0.567717,878.306131,579.631302,285.770536,245.302792,32.067362,416.473038,1.434005,5.725475
min,1.000055e+06,2.736000e+04,0.000000,0.000000,3.000000,4.020000e+02,1.000000,2.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,21.274240,-157.791480
25%,2.064175e+09,6.480000e+05,3.000000,2.000000,1420.000000,4.850000e+03,1.000000,1180.000000,0.000000,0.000000,40.000000,1953.000000,0.000000,47.405320,-122.326045
50%,3.874011e+09,8.600000e+05,3.000000,2.500000,1920.000000,7.480000e+03,1.500000,1560.000000,0.000000,400.000000,150.000000,1977.000000,0.000000,47.551380,-122.225585
75%,7.287100e+09,1.300000e+06,4.000000,3.000000,2619.500000,1.057900e+04,2.000000,2270.000000,940.000000,510.000000,320.000000,2003.000000,0.000000,47.669913,-122.116205
max,9.904000e+09,3.075000e+07,13.000000,10.500000,15360.000000,3.253932e+06,4.000000,12660.000000,8020.000000,3580.000000,4370.000000,2022.000000,2022.000000,64.824070,-70.074340

In [13]:
df.info()
#waterfront incomplete data (2000~)
#view had 60 missing null
#yr_renovated

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

In [14]:
df.keys()
#We can decide on what we want to use or dont want to use

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance', 'view',
       'condition', 'grade', 'heat_source', 'sewer_system', 'sqft_above',
       'sqft_basement', 'sqft_garage', 'sqft_patio', 'yr_built',
       'yr_renovated', 'address', 'lat', 'long'],
      dtype='object')

In [15]:
df.id.value_counts()
#Unique id - nothing too special

1233100736    2
2026059180    1
1423089049    1
3892500020    1
7321900035    1
             ..
1946000070    1
1250201175    1
5422570190    1
691000015     1
9430110210    1
Name: id, Length: 30154, dtype: int64

In [16]:
df.date.value_counts()
#2014 to 2015 dates, what's this a date for anyways?

7/1/2021      196
8/2/2021      186
7/6/2021      176
6/23/2021     176
6/16/2021     174
             ...
12/26/2021      1
1/16/2022       1
12/25/2021      1
12/5/2021       1
6/9/2022        1
Name: date, Length: 365, dtype: int64

In [17]:
df.price.value_counts()
#Price range, probably a huge indicator for stuff

650000.0     346
750000.0     307
800000.0     299
850000.0     296
600000.0     295
            ...
838355.0       1
903888.0       1
576200.0       1
1081500.0      1
720902.0       1
Name: price, Length: 5202, dtype: int64

In [18]:
df.bedrooms.value_counts()
#Interesting all places have more than 3 bedrooms

3     12754
4      9597
2      3936
5      2798
6       498
1       391
7        80
0        44
8        38
9        14
10        3
13        1
11        1
Name: bedrooms, dtype: int64

In [19]:
df.bathrooms.value_counts()
#Bathroom are floats, okay...

2.5     8475
2.0     7349
1.0     4576
3.0     4117
3.5     2266
1.5     1808
4.0      645
4.5      533
5.0      145
5.5      104
6.0       45
0.0       31
6.5       25
7.5       12
7.0       12
0.5        5
9.5        2
8.0        2
8.5        1
10.0       1
10.5       1
Name: bathrooms, dtype: int64

In [20]:
df.sqft_living.value_counts()
#Living room, but what can we pair with this

1250    192
1400    190
1560    183
1900    183
1540    181
       ...
2409      1
2281      1
2265      1
2105      1
2049      1
Name: sqft_living, Length: 1318, dtype: int64

In [21]:
df.sqft_lot.value_counts()
#Sq ft of the lot, we can subtract from living room; but what does that give us?

5000     487
6000     402
4000     374
7200     302
7500     181
        ...
12975      1
10940      1
33855      1
49857      1
4098       1
Name: sqft_lot, Length: 12237, dtype: int64

In [22]:
df.floors.value_counts()
#Number of floors, wtf is half a floor

1.0    13962
2.0    12265
1.5     2439
3.0     1222
2.5      222
4.0       30
3.5       15
Name: floors, dtype: int64

In [23]:
df.waterfront.value_counts()
#Yes or No, could fill in the NaN with NO and we can also do waterfront based off zipcode or Jordans tableau

NO     29636
YES      519
Name: waterfront, dtype: int64

In [36]:
df.greenbelt.value_counts()

NO     29382
YES      773
Name: greenbelt, dtype: int64

In [37]:
df.nuisance.value_counts()

NO     24893
YES     5262
Name: nuisance, dtype: int64

In [38]:
df.view.value_counts()
#Lots of NONE so weird

NONE         26589
AVERAGE       1915
GOOD           878
EXCELLENT      553
FAIR           220
Name: view, dtype: int64

In [39]:
df.condition.value_counts()
#Looks good

Average      18547
Good          8054
Very Good     3259
Fair           230
Poor            65
Name: condition, dtype: int64

In [40]:
df.grade.value_counts()
#Nice

7 Average        11697
8 Good            9410
9 Better          3806
6 Low Average     2858
10 Very Good      1371
11 Excellent       406
5 Fair             393
12 Luxury          122
4 Low               51
13 Mansion          24
3 Poor              13
2 Substandard        2
1 Cabin              2
Name: grade, dtype: int64

In [ ]:
df.grade.value_counts()

In [ ]:
df.grade.value_counts()

In [27]:
df.sqft_above.value_counts()
#Uh sq_ft above?

1200    282
1300    282
1060    271
1100    268
1250    265
       ...
1799      1
1783      1
1767      1
7700      1
2049      1
Name: sqft_above, Length: 1187, dtype: int64

In [28]:
df.sqft_basement.value_counts()
#Sq ft basement, we also have

0       15471
1010      257
1100      224
1060      219
1200      192
        ...
3350        1
1079        1
3110        1
2870        1
3590        1
Name: sqft_basement, Length: 459, dtype: int64

In [29]:
df.yr_built.value_counts()
#Year built, uh not sure if we need this

2021    1707
1968     516
2020     507
1978     493
1977     484
        ...
1935      39
1901      39
1934      38
1902      36
1933      30
Name: yr_built, Length: 123, dtype: int64

In [30]:
df.yr_renovated.value_counts()
#Year renovated, could be nifty but doesnt say too much if we're recommending renovations now

0       28783
2021       69
2006       49
2018       44
1990       42
        ...
1924        1
1942        1
1972        1
1951        1
1930        1
Name: yr_renovated, Length: 83, dtype: int64

In [32]:
df.address.value_counts()
#Zipcodes could be useful for zoning purposes

Avenue, 108 Foothill Blvd, Rancho Cucamonga, California 91730, United States    38
Delridge Way Southwest, Seattle, Washington 98106, United States                24
9th Ave, Nebraska City, Nebraska 68410, United States                           21
South 35th Avenue, Bellevue, Nebraska 68123, United States                      20
A, Leadwood, Missouri 63653, United States                                      17
                                                                                ..
1412 North 50th Street, Seattle, Washington 98103, United States                 1
6802 32nd Avenue Northeast, Seattle, Washington 98115, United States             1
12728 42nd Avenue Northeast, Seattle, Washington 98125, United States            1
2438 78th Avenue Northeast, Medina, Washington 98039, United States              1
229 North 122nd Street, Seattle, Washington 98133, United States                 1
Name: address, Length: 29560, dtype: int64

In [50]:
df['zip'] = df[df['address']]

In [ ]:
df.zip

In [33]:
df.lat.value_counts()
#Geography

34.104373    38
47.543910    24
40.668690    21
47.690850    20
41.111700    20
             ..
47.435680     1
47.648680     1
47.479490     1
47.441470     1
47.733450     1
Name: lat, Length: 24354, dtype: int64

In [34]:
df.long.value_counts()
#Geography

-117.608704    38
-122.360550    27
-122.342510    24
-95.851830     21
-95.965985     20
               ..
-121.887030     1
-122.398015     1
-121.957130     1
-122.323795     1
-122.031535     1
Name: long, Length: 24084, dtype: int64

In [35]:
df.sqft_living15.value_counts()
#Sqft of living rooms uhhh okay

AttributeError: 'DataFrame' object has no attribute 'sqft_living15'

In [ ]:
df.sqft_lot15.value_counts()
#Lot is I'm assuming the entire place?

In [ ]:
df2 = df[['id','price','sqft_living','sqft_lot','sqft_above','sqft_basement']]
#Just seeing some numbers

In [ ]:
df2

In [ ]:
df2['percentliving'] = df2.sqft_living / df2.sqft_lot
df2['abvpct'] = df2.sqft_above / df2.sqft_living
#df2['basepct'] = df2.sqft_basement / df2.sqft_living
#Running with basement causes an error message

In [ ]:
df2

In [ ]:
df2.sqft_basement.value_counts()
#Whats a ? doing there

In [ ]:
huh = df2.loc[df2['sqft_basement'] == '?']
#seeing the ?

In [ ]:
huh

In [ ]:
huhh = df2.loc[df2['sqft_basement'] != '?']
#Making an inverse to fact check

In [ ]:
huhh.sqft_basement.value_counts(sort=False)

In [ ]:
huhh

In [ ]:
huhh['0please'] = huhh['sqft_living'] - huhh['sqft_above'] - huhh['sqft_basement'].astype(float)
#This is to check if the math doesnt add up for the database, if it doesn't we have to figure out what to do

In [ ]:
huhh

In [ ]:
huhh['0please'].value_counts()
#No mismatches, lets go turn the ? into a math formula

In [ ]:
df3 = df

In [ ]:
df3['sqft_basement'] = df3['sqft_living'] - df3['sqft_above']
#This should fix the sqft basement and turn them all into integers or floats

In [ ]:
df3

In [ ]:
df3.info()

In [ ]:
df3['abvpct'] = df3.sqft_above / df3.sqft_living
df3['basepct'] = df3.sqft_basement / df3.sqft_living
#What percent of the house is basement vs above ground, maybe there will be a correlation?

In [ ]:
len(df3.describe().keys())

In [ ]:
len(df3.keys())
#5 more keys than the describe, so 5 columns are not numbers

In [ ]:
df3.describe().keys()

In [ ]:
df3.keys()

In [ ]:
df3['view'].value_counts()
#None Fair Average Good Excellent

In [ ]:
df3['view'] = df3['view'].fillna('NONE')
#Turn the N/A's into NONE

In [ ]:
df3.info()

In [ ]:
df3.yr_renovated.value_counts()

In [ ]:
df3['yr_renovated'] = df3['yr_renovated'].fillna(0)
#Turn the N/A into 0, assuming N/A means they were not renovated

In [ ]:
df3.yr_renovated.value_counts()

In [ ]:
df3.info()

In [ ]:
df3.id.value_counts()

In [ ]:
df3.sort_values('id')

In [ ]:
df3.corr()['price'].abs().sort_values()