## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
import math
%matplotlib inline

In [4]:
df = pd.read_csv('./data/kc_house_data.csv')

In [5]:
dff = pd.read_csv('./data/kc_house_data2.csv')

In [6]:
dfff = pd.read_csv('./data/kc_house_data3.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [13]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

In [15]:
dfff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     21597 non-null  int64
 9   view           21597 non-null  int64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  int64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   21597 non-null  int64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [8]:
dfff.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [11]:
dfff.date.value_counts()

6/23/2014     142
6/26/2014     131
6/25/2014     131
7/8/2014      127
4/27/2015     126
             ...
5/17/2014       1
11/30/2014      1
5/15/2015       1
7/27/2014       1
11/2/2014       1
Name: date, Length: 372, dtype: int64

In [4]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [5]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [6]:
df.info()
#waterfront incomplete data (2000~)
#view had 60 missing null
#yr_renovated

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [7]:
df.keys()
#We can decide on what we want to use or dont want to use

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [8]:
df.id.value_counts()
#Unique id - nothing too special

795000620     3
1825069031    2
2019200220    2
7129304540    2
1781500435    2
             ..
7812801125    1
4364700875    1
3021059276    1
880000205     1
1777500160    1
Name: id, Length: 21420, dtype: int64

In [9]:
df.date.value_counts()
#2014 to 2015 dates, what's this a date for anyways?

6/23/2014     142
6/26/2014     131
6/25/2014     131
7/8/2014      127
4/27/2015     126
             ...
11/30/2014      1
5/24/2015       1
3/8/2015        1
8/3/2014        1
8/30/2014       1
Name: date, Length: 372, dtype: int64

In [10]:
df.price.value_counts()
#Price range, probably a huge indicator for stuff

350000.0    172
450000.0    172
550000.0    159
500000.0    152
425000.0    150
           ...
870515.0      1
336950.0      1
386100.0      1
176250.0      1
884744.0      1
Name: price, Length: 3622, dtype: int64

In [11]:
df.bedrooms.value_counts()
#Interesting all places have more than 3 bedrooms

3     9824
4     6882
2     2760
5     1601
6      272
1      196
7       38
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [12]:
df.bathrooms.value_counts()
#Bathroom are floats, okay...

2.50    5377
1.00    3851
1.75    3048
2.25    2047
2.00    1930
1.50    1445
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      71
4.75      23
5.00      21
5.25      13
5.50      10
1.25       9
6.00       6
5.75       4
0.50       4
8.00       2
6.25       2
6.75       2
6.50       2
7.50       1
7.75       1
Name: bathrooms, dtype: int64

In [13]:
df.sqft_living.value_counts()
#Living room, but what can we pair with this

1300    138
1400    135
1440    133
1660    129
1010    129
       ...
4970      1
2905      1
2793      1
4810      1
1975      1
Name: sqft_living, Length: 1034, dtype: int64

In [14]:
df.sqft_lot.value_counts()
#Sq ft of the lot, we can subtract from living room; but what does that give us?

5000      358
6000      290
4000      251
7200      220
7500      119
         ...
1448        1
38884       1
17313       1
35752       1
315374      1
Name: sqft_lot, Length: 9776, dtype: int64

In [15]:
df.floors.value_counts()
#Number of floors, wtf is half a floor

1.0    10673
2.0     8235
1.5     1910
3.0      611
2.5      161
3.5        7
Name: floors, dtype: int64

In [16]:
df.waterfront.value_counts()
#Yes or No, could fill in the NaN with NO and we can also do waterfront based off zipcode or Jordans tableau

NO     19075
YES      146
Name: waterfront, dtype: int64

In [17]:
df.view.value_counts()
#Lots of NONE so weird

NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: view, dtype: int64

In [18]:
df.condition.value_counts()
#Looks good

Average      14020
Good          5677
Very Good     1701
Fair           170
Poor            29
Name: condition, dtype: int64

In [19]:
df.grade.value_counts()
#Nice

7 Average        8974
8 Good           6065
9 Better         2615
6 Low Average    2038
10 Very Good     1134
11 Excellent      399
5 Fair            242
12 Luxury          89
4 Low              27
13 Mansion         13
3 Poor              1
Name: grade, dtype: int64

In [20]:
df.sqft_above.value_counts()
#Uh sq_ft above?

1300    212
1010    210
1200    206
1220    192
1140    184
       ...
2601      1
440       1
2473      1
2441      1
1975      1
Name: sqft_above, Length: 942, dtype: int64

In [21]:
df.sqft_basement.value_counts()
#Sq ft basement, we also have

0.0      12826
?          454
600.0      217
500.0      209
700.0      208
         ...
415.0        1
556.0        1
20.0         1
946.0        1
283.0        1
Name: sqft_basement, Length: 304, dtype: int64

In [22]:
df.yr_built.value_counts()
#Year built, uh not sure if we need this

2014    559
2006    453
2005    450
2004    433
2003    420
       ...
1933     30
1901     29
1902     27
1935     24
1934     21
Name: yr_built, Length: 116, dtype: int64

In [23]:
df.yr_renovated.value_counts()
#Year renovated, could be nifty but doesnt say too much if we're recommending renovations now

0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

In [24]:
df.zipcode.value_counts()
#Zipcodes could be useful for zoning purposes

98103    602
98038    589
98115    583
98052    574
98117    553
        ...
98102    104
98010    100
98024     80
98148     57
98039     50
Name: zipcode, Length: 70, dtype: int64

In [25]:
df.lat.value_counts()
#Geography

47.6846    17
47.5322    17
47.6624    17
47.5491    17
47.6886    16
           ..
47.3104     1
47.4681     1
47.2819     1
47.6096     1
47.4300     1
Name: lat, Length: 5033, dtype: int64

In [26]:
df.long.value_counts()
#Geography

-122.290    115
-122.300    111
-122.362    104
-122.291    100
-122.372     99
           ...
-121.803      1
-121.711      1
-122.454      1
-121.835      1
-121.849      1
Name: long, Length: 751, dtype: int64

In [27]:
df.sqft_living15.value_counts()
#Sqft of living rooms uhhh okay

1540    197
1440    195
1560    192
1500    180
1460    169
       ...
4890      1
2873      1
952       1
3193      1
2049      1
Name: sqft_living15, Length: 777, dtype: int64

In [28]:
df.sqft_lot15.value_counts()
#Lot is I'm assuming the entire place?

5000      427
4000      356
6000      288
7200      210
4800      145
         ...
11036       1
8989        1
871200      1
809         1
6147        1
Name: sqft_lot15, Length: 8682, dtype: int64

In [29]:
df2 = df[['id','price','sqft_living','sqft_lot','sqft_above','sqft_basement']]
#Just seeing some numbers

In [30]:
df2

               id     price  sqft_living  sqft_lot  sqft_above sqft_basement
0      7129300520  221900.0         1180      5650        1180           0.0
1      6414100192  538000.0         2570      7242        2170         400.0
2      5631500400  180000.0          770     10000         770           0.0
3      2487200875  604000.0         1960      5000        1050         910.0
4      1954400510  510000.0         1680      8080        1680           0.0
...           ...       ...          ...       ...         ...           ...
21592   263000018  360000.0         1530      1131        1530           0.0
21593  6600060120  400000.0         2310      5813        2310           0.0
21594  1523300141  402101.0         1020      1350        1020           0.0
21595   291310100  400000.0         1600      2388        1600           0.0
21596  1523300157  325000.0         1020      1076        1020           0.0

[21597 rows x 6 columns]

In [31]:
df2['percentliving'] = df2.sqft_living / df2.sqft_lot
df2['abvpct'] = df2.sqft_above / df2.sqft_living
#df2['basepct'] = df2.sqft_basement / df2.sqft_living
#Running with basement causes an error message

<ipython-input-31-82b29b9b5817>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['percentliving'] = df2.sqft_living / df2.sqft_lot
<ipython-input-31-82b29b9b5817>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['abvpct'] = df2.sqft_above / df2.sqft_living

In [32]:
df2

,id,price,sqft_living,sqft_lot,sqft_above,sqft_basement,percentliving,abvpct
0,7129300520,221900.0,1180,5650,1180,0.0,0.208850,1.000000
1,6414100192,538000.0,2570,7242,2170,400.0,0.354874,0.844358
2,5631500400,180000.0,770,10000,770,0.0,0.077000,1.000000
3,2487200875,604000.0,1960,5000,1050,910.0,0.392000,0.535714
4,1954400510,510000.0,1680,8080,1680,0.0,0.207921,1.000000
...,...,...,...,...,...,...,...,...
21592,263000018,360000.0,1530,1131,1530,0.0,1.352785,1.000000
21593,6600060120,400000.0,2310,5813,2310,0.0,0.397385,1.000000
21594,1523300141,402101.0,1020,1350,1020,0.0,0.755556,1.000000
21595,291310100,400000.0,1600,2388,1600,0.0,0.670017,1.000000
21596,1523300157,325000.0,1020,1076,1020,0.0,0.947955,1.000000

In [33]:
df2.sqft_basement.value_counts()
#Whats a ? doing there

0.0      12826
?          454
600.0      217
500.0      209
700.0      208
         ...
415.0        1
556.0        1
20.0         1
946.0        1
283.0        1
Name: sqft_basement, Length: 304, dtype: int64

In [34]:
huh = df2.loc[df2['sqft_basement'] == '?']
#seeing the ?

In [35]:
huh

,id,price,sqft_living,sqft_lot,sqft_above,sqft_basement,percentliving,abvpct
6,1321400060,257500.0,1715,6819,1715,?,0.251503,1.000000
18,16000397,189000.0,1200,9850,1200,?,0.121827,1.000000
42,7203220400,861990.0,3595,5639,3595,?,0.637524,1.000000
79,1531000030,720000.0,3450,39683,3450,?,0.086939,1.000000
112,2525310310,272500.0,1540,12600,1160,?,0.122222,0.753247
...,...,...,...,...,...,...,...,...
21442,3226049565,504600.0,2360,5000,1390,?,0.472000,0.588983
21447,1760650900,337500.0,2330,4907,2330,?,0.474832,1.000000
21473,6021503707,352500.0,980,1010,980,?,0.970297,1.000000
21519,2909310100,332000.0,2380,5737,2380,?,0.414851,1.000000
21581,191100405,1580000.0,3410,10125,3410,?,0.336790,1.000000

In [36]:
huhh = df2.loc[df2['sqft_basement'] != '?']
#Making an inverse to fact check

In [37]:
huhh.sqft_basement.value_counts(sort=False)

1520.0     7
1880.0     1
1960.0     1
720.0     98
1140.0    28
          ..
380.0     73
1620.0     7
1480.0     9
2360.0     1
283.0      1
Name: sqft_basement, Length: 303, dtype: int64

In [38]:
huhh

,id,price,sqft_living,sqft_lot,sqft_above,sqft_basement,percentliving,abvpct
0,7129300520,221900.0,1180,5650,1180,0.0,0.208850,1.000000
1,6414100192,538000.0,2570,7242,2170,400.0,0.354874,0.844358
2,5631500400,180000.0,770,10000,770,0.0,0.077000,1.000000
3,2487200875,604000.0,1960,5000,1050,910.0,0.392000,0.535714
4,1954400510,510000.0,1680,8080,1680,0.0,0.207921,1.000000
...,...,...,...,...,...,...,...,...
21592,263000018,360000.0,1530,1131,1530,0.0,1.352785,1.000000
21593,6600060120,400000.0,2310,5813,2310,0.0,0.397385,1.000000
21594,1523300141,402101.0,1020,1350,1020,0.0,0.755556,1.000000
21595,291310100,400000.0,1600,2388,1600,0.0,0.670017,1.000000
21596,1523300157,325000.0,1020,1076,1020,0.0,0.947955,1.000000

In [39]:
huhh['0please'] = huhh['sqft_living'] - huhh['sqft_above'] - huhh['sqft_basement'].astype(float)
#This is to check if the math doesnt add up for the database, if it doesn't we have to figure out what to do

<ipython-input-39-417032679ab8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  huhh['0please'] = huhh['sqft_living'] - huhh['sqft_above'] - huhh['sqft_basement'].astype(float)

In [40]:
huhh

,id,price,sqft_living,sqft_lot,sqft_above,sqft_basement,percentliving,abvpct,0please
0,7129300520,221900.0,1180,5650,1180,0.0,0.208850,1.000000,0.0
1,6414100192,538000.0,2570,7242,2170,400.0,0.354874,0.844358,0.0
2,5631500400,180000.0,770,10000,770,0.0,0.077000,1.000000,0.0
3,2487200875,604000.0,1960,5000,1050,910.0,0.392000,0.535714,0.0
4,1954400510,510000.0,1680,8080,1680,0.0,0.207921,1.000000,0.0
...,...,...,...,...,...,...,...,...,...
21592,263000018,360000.0,1530,1131,1530,0.0,1.352785,1.000000,0.0
21593,6600060120,400000.0,2310,5813,2310,0.0,0.397385,1.000000,0.0
21594,1523300141,402101.0,1020,1350,1020,0.0,0.755556,1.000000,0.0
21595,291310100,400000.0,1600,2388,1600,0.0,0.670017,1.000000,0.0
21596,1523300157,325000.0,1020,1076,1020,0.0,0.947955,1.000000,0.0

In [41]:
huhh['0please'].value_counts()
#No mismatches, lets go turn the ? into a math formula

0.0    21143
Name: 0please, dtype: int64

In [42]:
df3 = df

In [43]:
df3['sqft_basement'] = df3['sqft_living'] - df3['sqft_above']
#This should fix the sqft basement and turn them all into integers or floats

In [44]:
df3

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,8 Good,1530,0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,8 Good,2310,0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,7 Average,1020,0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,8 Good,1600,0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,7 Average,1020,0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [45]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  int64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(10), object(5)
memory usage: 3.5+ MB

In [46]:
df3['abvpct'] = df3.sqft_above / df3.sqft_living
df3['basepct'] = df3.sqft_basement / df3.sqft_living
#What percent of the house is basement vs above ground, maybe there will be a correlation?

In [47]:
len(df3.describe().keys())

18

In [48]:
len(df3.keys())
#5 more keys than the describe, so 5 columns are not numbers

23

In [49]:
df3.describe().keys()

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'abvpct',
       'basepct'],
      dtype='object')

In [50]:
df3.keys()

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'abvpct', 'basepct'],
      dtype='object')

In [51]:
df3['view'].value_counts()
#None Fair Average Good Excellent

NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: view, dtype: int64

In [52]:
df3['view'] = df3['view'].fillna('NONE')
#Turn the N/A's into NONE

In [53]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21597 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  int64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
 21  abvpct         21597 non-null  float64
 22  basepct        21597 non-null  float64
dtypes: float64(8), int64(10), object(5)
memory usage: 3.8+ MB

In [54]:
df3.yr_renovated.value_counts()

0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

In [55]:
df3['yr_renovated'] = df3['yr_renovated'].fillna(0)
#Turn the N/A into 0, assuming N/A means they were not renovated

In [56]:
df3.yr_renovated.value_counts()

0.0       20853
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

In [57]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21597 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  int64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   21597 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
 21  abvpct         21597 non-null  float64
 22  basepct        21597 non-null  float64
dtypes: float64(8), int64(10), object(5)
memory usage: 3.8+ MB

In [58]:
df3.id.value_counts()

795000620     3
1825069031    2
2019200220    2
7129304540    2
1781500435    2
             ..
7812801125    1
4364700875    1
3021059276    1
880000205     1
1777500160    1
Name: id, Length: 21420, dtype: int64

In [61]:
df3.sort_values('id')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,abvpct,basepct
2495,1000102,4/22/2015,300000.0,6,3.00,2400,9373,2.0,NO,NONE,...,0,1991,0.0,98002,47.3262,-122.214,2060,7316,1.000000,0.000000
2494,1000102,9/16/2014,280000.0,6,3.00,2400,9373,2.0,NaN,NONE,...,0,1991,0.0,98002,47.3262,-122.214,2060,7316,1.000000,0.000000
6729,1200019,5/8/2014,647500.0,4,1.75,2060,26036,1.0,NaN,NONE,...,900,1947,0.0,98166,47.4444,-122.351,2590,21891,0.563107,0.436893
8404,1200021,8/11/2014,400000.0,3,1.00,1460,43000,1.0,NO,NONE,...,0,1952,0.0,98166,47.4434,-122.347,2250,20023,1.000000,0.000000
8800,2800031,4/1/2015,235000.0,3,1.00,1430,7599,1.5,NO,NONE,...,420,1930,0.0,98168,47.4783,-122.265,1290,10320,0.706294,0.293706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16723,9842300095,7/25/2014,365000.0,5,2.00,1600,4168,1.5,NO,NONE,...,0,1927,0.0,98126,47.5297,-122.381,1190,4168,1.000000,0.000000
3257,9842300485,3/11/2015,380000.0,2,1.00,1040,7372,1.0,NO,NONE,...,200,1939,0.0,98126,47.5285,-122.378,1930,5150,0.807692,0.192308
7614,9842300540,6/24/2014,339000.0,3,1.00,1100,4128,1.0,NO,NONE,...,380,1942,0.0,98126,47.5296,-122.379,1510,4538,0.654545,0.345455
20963,9895000040,7/3/2014,399900.0,2,1.75,1410,1005,1.5,NO,NONE,...,510,2011,0.0,98027,47.5446,-122.018,1440,1188,0.638298,0.361702
15937,9900000190,10/30/2014,268950.0,3,1.00,1320,8100,1.0,NO,NONE,...,440,1943,0.0,98166,47.4697,-122.351,1000,8100,0.666667,0.333333

In [68]:
df3.corr()['price'].abs().sort_values()

id               0.016772
long             0.022036
zipcode          0.053402
yr_built         0.053953
sqft_lot15       0.082845
sqft_lot         0.089876
yr_renovated     0.117855
basepct          0.135386
abvpct           0.135386
floors           0.256804
lat              0.306692
bedrooms         0.308787
sqft_basement    0.323799
bathrooms        0.525906
sqft_living15    0.585241
sqft_above       0.605368
sqft_living      0.701917
price            1.000000
Name: price, dtype: float64